In [3]:
import pandas as pd
import numpy as np

In [4]:
data=pd.read_csv("data.csv")
# data=pd.read_csv("iml 20 nov.csv")
data

  citations    size inlibrary       price editions  buy
0      some   small        no  affordable     many   no
1      many     big        no   expensive      one  yes
2      some     big    always   expensive      few   no
3      many  medium        no   expensive     many  yes
4      many   small        no  affordable     many  yes

In [5]:
instance=2*3*2*2*3
instance

72

In [6]:
hypothesis_space=4*5*4*4*5
hypothesis_space

1600

In [7]:
semantically_distinct_hypothesis=(3*4*3*3*4)+1
semantically_distinct_hypothesis

433

In [8]:
concepts=np.array(data)[:,:-1]
# : before the comma (:) represents all rows of the array, and :-1
# after the comma represents all columns except the last one.
concepts

array([['some', 'small', 'no', 'affordable', 'many'],
       ['many', 'big', 'no', 'expensive', 'one'],
       ['some', 'big', 'always', 'expensive', 'few'],
       ['many', 'medium', 'no', 'expensive', 'many'],
       ['many', 'small', 'no', 'affordable', 'many']], dtype=object)

In [9]:
target=np.array(data)[:,-1]
# slices the last column for all rows
target

array(['no', 'yes', 'no', 'yes', 'yes'], dtype=object)

In [10]:
def train(con,tar):
  for i,val in enumerate(tar):
    # enumerate() returns the index value and element in each iteration
    if val=='yes':
      specific_h=con[i].copy()
      break
  for i,val in enumerate(con):
    if tar[i]=='yes':
      for x in range(len(specific_h)):
        if val[x]!=specific_h[x]:
          specific_h[x]='?'
        else:
          pass
  return specific_h

In [11]:
print(train(concepts,target))

['many' '?' 'no' '?' '?']